<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo/Editar recurso - REDA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/agr3kxwxb5hnsedd9yd0re9bxz0346mtqq1xe1u6ethrlj9a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        .container2 {
            background-image: url('{{ url_for('static', filename='images/new-form-bg.jpg') }}');
            background-size: cover;
            background-position: center;
            text-align: center;
            padding: 40px 0;
            color: #fff;
        }
        .keyword-input-container input {
            width: calc(80% - 80px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .keyword-input-container button {
            padding: 10px 20px;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            font-size: 14px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .keyword-item {
            display: inline-block;
            padding: 5px;
            margin: 5px;
            background-color: #f1f1f1;
            border-radius: 5px;
        }
        .keyword-item button {
            background-color: red;
            color: white;
            border: none;
            padding: 2px 5px;
            cursor: pointer;
        }
    </style>
    <style>
        
        h1, h2 {
            color: #white;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        /* Form Styles */
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .input-group-escolaridade, 
        .input-group-disci, 
        .input-group-domain, 
        .input-group-descricao-proposta {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 6px;
            border: 1px solid #ddd;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        label {
            margin-right: 20px;
            cursor: pointer;
        }

        hr {
            border: none;
            height: 1px;
            background: #e0e0e0;
            margin: 20px 0;
        }

        .input-group-conceitos {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
        }

        .keyword-input-container {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }

        .keyword-input-container input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .keyword-input-container button {
            padding: 8px 12px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        .keyword-input-container button:hover {
            background-color: #0056b3;
        }

        #keywordsContainer {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        #keywordsContainer span {
            background-color: #e7f3ff;
            color: #0056b3;
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
        }

        #keywordsContainer span button {
            margin-left: 8px;
            background: none;
            border: none;
            color: #ff6b6b;
            cursor: pointer;
            font-weight: bold;
        }

        /* Description and Editor */
        #editor-container {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 10px;
            background-color: #fff;
        }

        #counter {
            text-align: right;
            font-size: 12px;
            color: #666;
        }

        /* Terms and Conditions */
        .terms-and-conditions {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 6px;
        }

        .cc-license img {
            margin-top: 10px;
        }

        /* Accept Terms Checkbox */
        .accept-terms {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
        }

        .accept-terms label {
            font-size: 14px;
        }

        /* Buttons */
        button[type="submit"] {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #aec03f;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px;
        }

        button[type="submit"]:hover {
            background-color: #a0af3b;
        }

        button[type="button"] {
            background-color: #aec03f;
        }

        button[type="button"]:hover {
            background-color: #a0af3b;
        }

        .small-text {
            font-size: 12px;
            color: #666;
        }

        .text-danger {
            color: #dc3545;
        }

        /* Responsive Styles */
        @media (max-width: 600px) {
            .container {
                padding: 15px;
            }

            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 18px;
            }

            button[type="submit"] {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let selectedDisciplinas = [];
        let selectedDominios = [];
        let selectedSubdominios = [];
        let selectedConceitos = [];
    
        // Fetch disciplinas based on selected anos
        function fetchDisciplinas() {
            let selectedAnos = $('input[name="anos"]:checked').map(function() {
                return $(this).val();
            }).get(); // Get array of selected anos
    
            if (selectedAnos.length === 0) {
                $('#disciplinasContainer, #dominiosContainer, #subdominiosContainer, #conceitosContainer').empty();
                return; // No anos selected, exit function
            }
    
            $.get('/fetch_disciplinas', { ano: selectedAnos.join(',') }, function(data) {
                let disciplinasContainer = $('#disciplinasContainer');
                disciplinasContainer.empty();
    
                data.sort(); // Sort disciplinas alphabetically
    
                data.forEach(function(disciplina) {
                    let checked = selectedDisciplinas.includes(disciplina) ? 'checked' : '';
                    disciplinasContainer.append(`
                        <div class="checkbox-item">
                            <input type="checkbox" id="disciplina${disciplina}" name="disciplinas" value="${disciplina}" ${checked} onchange="fetchDominios()">
                            <label for="disciplina${disciplina}">${disciplina}</label>
                        </div>
                    `);
                });
            });
        }
    
        function fetchDominios() {
            // Capture the current selected disciplinas
            selectedDisciplinas = $('input[name="disciplinas"]:checked').map(function() {
                return $(this).val();
            }).get(); // Get array of selected disciplinas
        
            if (selectedDisciplinas.length === 0) {
                $('#dominiosContainer, #subdominiosContainer, #conceitosContainer').empty();
                return; // No disciplinas selected, exit function
            }
        
            // Fetch new dominios based on selected disciplinas
            $.get('/fetch_dominios', { disciplinas: selectedDisciplinas.join(',') }, function(data) {
                let dominiosContainer = $('#dominiosContainer');
                dominiosContainer.empty();
        
                // Sort dominios alphabetically
                data.sort();
        
                data.forEach(function(dominio) {
                    let checked = selectedDominios.includes(dominio) ? 'checked' : '';
                    dominiosContainer.append(`
                        <div class="checkbox-item">
                            <input type="checkbox" id="dominio${dominio}" name="dominios" value="${dominio}" ${checked} onchange="fetchSubdominios()">
                            <label for="dominio${dominio}">${dominio}</label>
                        </div>
                    `);
                });
        
                // Update selectedDominios with the current selections
                selectedDominios = $('input[name="dominios"]:checked').map(function() {
                    return $(this).val();
                }).get();
            });
        }
    
        // Fetch subdominios based on selected dominios
        function fetchSubdominios() {
            selectedDominios = $('input[name="dominios"]:checked').map(function() {
                return $(this).val();
            }).get(); // Get array of selected dominios
    
            if (selectedDominios.length === 0) {
                $('#subdominiosContainer, #conceitosContainer').empty();
                return; // No dominios selected, exit function
            }
    
            $.get('/fetch_subdominios', { dominios: selectedDominios.join(',') }, function(data) {
                let subdominiosContainer = $('#subdominiosContainer');
                subdominiosContainer.empty();
    
                data.sort(); // Sort subdominios alphabetically
    
                data.forEach(function(subdominio) {
                    let checked = selectedSubdominios.includes(subdominio) ? 'checked' : '';
                    subdominiosContainer.append(`
                        <div class="checkbox-item">
                            <input type="checkbox" id="subdominio${subdominio}" name="subdominios" value="${subdominio}" ${checked} onchange="fetchConceitos()">
                            <label for="subdominio${subdominio}">${subdominio}</label>
                        </div>
                    `);
                });
            });
        }
    
        function fetchConceitos() {
            const selectedSubdominios = $('input[name="subdominios"]:checked').map(function() {
                return $(this).val();
            }).get(); // Get array of selected subdominios
        
            if (selectedSubdominios.length === 0) {
                $('#conceitosContainer').empty();
                return; // No subdominios selected, exit function
            }
        
            $.get('/fetch_conceitos', { subdominios: selectedSubdominios.join(',') }, function(data) {
                let conceitosContainer = $('#conceitosContainer');
                conceitosContainer.empty();
        
                data.sort(); // Sort conceitos alphabetically
        
                data.forEach(function(conceito) {
                    const checked = selectedConceitos.includes(conceito) ? 'checked' : '';
                    conceitosContainer.append(`
                        <div class="checkbox-item">
                            <input type="checkbox" id="conceito_${conceito}" name="conceitos" value="${conceito}" ${checked}>
                            <label for="conceito_${conceito}">${conceito}</label>
                        </div>
                    `);
                });
            })
            .fail(function(error) {
                console.error('Error fetching conceitos:', error);
            });
        }
    
        // Function to update the character counter
        function updateCounter(editor) {
            const maxLength = editor.getElement().maxLength || 2000;
            const content = editor.getContent({ format: 'text' }).trim();
            const currentLength = content.length;
            const counterEle = document.getElementById('counter');
            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        }
    
        
    </script>
</head>
<body>
    <div class="header-governo">
        <img src="{{ url_for('static', filename='images/logo.GOV-AZORES.2019.png') }}" alt="Governo dos Açores">
        <span> Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a> </span>
    </div>
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    {% if admin and is_logged_in %}
                        <!-- Render admin-specific links or buttons -->
                        <li><a href="/myaccount">Minha Conta</a></li>

                        <li><a href="/dashboard" target="_blank">Administração</a></li>
                        <li><a href="/logout">Sair</a></li>
                    {% elif not admin and is_logged_in %}
                        <li><a href="/myaccount">Minha Conta</a></li>
                        <li><a href="/logout">Sair</a></li>
                        
                    {%else%}
                        <!-- Render non-admin links or buttons -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registar</a></li>

                    {% endif %}


                    
                </ul>
            </nav>
        </div>
    </header>
    <div class="container2">
        <h1>Editar proposta de operacionalização</h1>
        <p> {{slug}} > <strong>Nova proposta de operacionalização</strong> </p>
    </div>
    <main>
        <div class="container">
            <h1>Detalhes</h1>
            <form method="POST" enctype="multipart/form-data" action="/resources/edit2/{{ script_id }}">
                <div class="input-group-escolaridade required">
                    <div class="input-group-escolaridade required">
                        <h2>Ano de Escolaridade:</h2>
                        {% for ano in anos %}
                            <input type="checkbox" id="ano{{ loop.index }}" name="anos" value="{{ ano }}"
                                {% if ano in selected_anos %}checked{% endif %}>
                            <label for="ano{{ loop.index }}">{{ ano }}</label>
                        {% endfor %}
                    </div>
                    
                </div>
                <hr></hr>
            
                <div class="input-group-disci required">
                    <h2>Disciplinas:</h2>
                    <div id="disciplinasContainer">
                        {% for disciplina in all_disciplinas %}
                            <input type="checkbox" id="disciplina{{ loop.index }}" name="disciplinas" value="{{ disciplina }}"
                                {% if disciplina in selected_disciplinas %}checked{% endif %}>
                            <label for="disciplina{{ loop.index }}">{{ disciplina }}</label>
                        {% endfor %}
                    </div>
                </div>
                <hr></hr>
            
                <!-- Dominios -->
                <div class="input-group-domain required">
                    <h2>Dominios:</h2>
                    <div id="dominiosContainer">
                        {% for dominio in all_dominios %}
                            <input type="checkbox" id="dominio{{ loop.index }}" name="dominios" value="{{ dominio }}"
                                {% if dominio in selected_dominios %}checked{% endif %}
                                onchange="updateSubdominios()">
                            <label for="dominio{{ loop.index }}">{{ dominio }}</label>
                        {% endfor %}
                    </div>
                </div>
                <hr></hr>

                <!-- Subdominios -->
                <div class="input-group-domain required">
                    <h2>Subdominios:</h2>
                    <div id="subdominiosContainer">
                        {% for subdominio in all_subdominios %}
                            <input type="checkbox" id="subdominio{{ loop.index }}" name="subdominios" value="{{ subdominio }}"
                                {% if subdominio in selected_subdominios %}checked{% endif %}>
                            <label for="subdominio{{ loop.index }}">{{ subdominio }}</label>
                        {% endfor %}
                    </div>
                </div>
                <hr></hr>
                
                <div class="input-group-domain required">
                    <h2>Conceitos:</h2>
                    <div id="conceitosContainer">
                        {% for conceito in all_conceitos %}
                            <input type="checkbox" id="conceito{{ loop.index }}" name="conceitos" value="{{ conceito }}"
                                {% if conceito in selected_conceitos %}checked{% endif %}>
                            <label for="conceito{{ loop.index }}">{{ conceito }}</label>
                        {% endfor %}
                    </div>
                </div>
                <hr></hr>
                <div class="input-group-conceitos">
                    <h2>Outros conceitos:</h2>
                    <div class="keyword-input-container">
                        <input type="text" id="keywordInput" placeholder="Digite uma palavra-chave" maxlength="100" onkeydown="checkEnterKey(event)">
                        <button type="button" onclick="addKeyword()">Adicionar</button>
                    </div>
                    <div id="keywordsContainer"></div>
                    <input type="hidden" name="keywords" id="keywords">
                    <small class="small-text">Deve escrever algumas palavras ou expressões, no mínimo de 5 palavras ou expressões.</small>
                </div>
                
                
                <div class="input-group-descricao-proposta required">
                    <h2>Descrição da proposta de operacionalização:</h2>
                    <div id="editor-container" style="height: 300px;"></div>
                    <textarea id="descricao" name="descricao" style="display: none;">{{ descricao }}</textarea>
                    <div id="counter"></div>
                    <small class="small-text">Deve ter no mínimo 20 caracteres e no máximo 2000</small>
                </div>
                
                
               
                <!-- Terms and Conditions -->
                <div class="terms-and-conditions">
                    <p><strong>Termos e condições</strong></p>
                    <p>
                        Aceito os "Termos e condições" e autorizo que o conteúdo seja distribuído sob os termos da licença Creative Commons com a Atribuição designada como Atribuição-Não Comercial-Compartilha Igual (CC BY-NC-SA).
                    </p>
                    <ul>
                        <li>Mantenho os direitos autorais do trabalho submetido;</li>
                        <li>Sou o autor ou o proprietário da obra ou tenho a permissão do autor para a distribuir;</li>
                        <li>Pretendo que este trabalho seja distribuído sob os termos da licença CC-BY-NC-SA.</li>
                    </ul>
                    <!-- Image linking to CC BY-NC-SA license -->
                    <div class="cc-license">
                        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                            <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="CC BY-NC-SA 4.0 License">
                        </a>
                    </div>
                </div>
                
                <div class="accept-terms" required>
                    <input type="checkbox" id="acceptTerms" name="acceptTerms" required>
                    <label for="acceptTerms">Aceito os Termos e Condições</label>
                </div>
                <small class="small-text">
                    <span class="text-danger">*</span>
                    Campo obrigatório
                </small>
                <form id="propostaForm" method="POST">
                    <!-- Your form inputs here -->
                    <input type="hidden" name="resource_id" value="{{ resource_id }}"> <!-- Add hidden field for resource_id -->
                    <button type="submit">Gravar alterações</button> <!-- Change button text to reflect editing action -->
                                 
                </form>
                <button onclick="goBack()">Cancelar</button>
            </form>
        </div>
                
    </main>
    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <i class="fas fa-user user-icon"></i>
            <h2>Login</h2>
            <form>
                <div class="login-input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="login-input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="/fichatecnica">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <a href="/faleconnosco">
                    <button>Fale connosco</button>
                </a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="additional-images">
                <img src="{{ url_for('static', filename='images/LogoDREAE-1.png') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='images/gov_acores_transparent.png') }}" alt="Image 2">
            </div>
            <span> © Direção Regional da Educação - Secretaria Regional da Educação,Cultura e Desporto </span>
        </div>
    </footer>
    <script>
        // Function to show pop-up message
        function showSuccessMessage() {
            alert("Proposta atualizada com sucesso!");
        }
    
        // Function to redirect after 3 seconds
        function redirectToResourceDetails(resource_id) {
            setTimeout(function() {
                window.location.href = `/resources/details/${resource_id}`;
            }, 3000); // 3000 milliseconds = 3 seconds
        }
    
        // Add event listener to form submission
        document.getElementById("propostaForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
    
            // Obtain resource_id from hidden field
            const script_id = document.querySelector('input[name="script_id"]').value;
            const resource_id = document.querySelector('input[name="resource_id"]').value;
    
            // Perform AJAX request or any necessary form submission logic here
            fetch(`/resources/edit2/${script_id}`, {
                method: 'POST',
                body: new FormData(event.target)
            })
            .then(response => {
                if (response.ok) {
                    showSuccessMessage(); // Show success pop-up
                    redirectToResourceDetails(resource_id); // Redirect after 3 seconds
                } else {
                    alert('Erro ao atualizar proposta. Por favor, tente novamente.'); // Handle errors
                }
            })
            .catch(error => {
                console.error('Erro:', error); // Log any fetch errors
            });
        });
        function goBack() {
            window.history.back(); // Go back to the previous page
        }
    </script>
    
    <script>
        // Initialize Quill editor
        var quill = new Quill('#editor-container', {
            theme: 'snow',  // Use 'snow' theme for a cleaner editor interface
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['link', 'image'],
                    ['clean']  // Remove formatting button.
                ]
            }
        });

        // Load initial content from the hidden textarea into Quill
        quill.root.innerHTML = document.getElementById('descricao').value;

        // Sync Quill's content to the hidden textarea on text change
        quill.on('text-change', function() {
            document.getElementById('descricao').value = quill.root.innerHTML;
            updateCounter();  // Update the character counter each time content changes
        });

        // Function to update the character counter
        function updateCounter() {
            const maxLength = 2000;
            const content = quill.getText().trim();  // Get plain text content
            const currentLength = content.length;
            const counterEle = document.getElementById('counter');
            counterEle.innerHTML = `${currentLength}/${maxLength}`;  // Display current and max length
            
            // Optional: Change counter color if content length is out of range
            if (currentLength < 20 || currentLength > maxLength) {
                counterEle.style.color = 'red';
            } else {
                counterEle.style.color = 'green';
            }
        }

        // Initialize counter on page load
        updateCounter();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Bind update functions to elements
            document.querySelectorAll('input[name="anos"]').forEach(checkbox => {
                checkbox.addEventListener('change', updateDisciplinas);
            });
        });
        
        // Function to initialize the event listeners for 'anos' checkboxes
        function bindAnosCheckboxes() {
            const anosCheckboxes = document.querySelectorAll('input[name="anos"]');
            anosCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', updateAnos); // Trigger updateAnos on change
            });
        }

        function updateAnos() {
            const selectedAnos = Array.from(document.querySelectorAll('input[name="anos"]:checked'))
                .map(checkbox => checkbox.value);
            console.log('Selected Anos:', selectedAnos);
        
            fetch(`/fetch_disciplinas?ano=${selectedAnos.join(',')}`)
                .then(response => response.json())
                .then(disciplinas => {
                    const disciplinasContainer = document.getElementById('disciplinasContainer');
                    const previouslyCheckedDisciplinas = Array.from(document.querySelectorAll('input[name="disciplinas"]:checked'))
                        .map(checkbox => checkbox.value);
        
                    // Use a set to avoid adding duplicate disciplinas
                    const uniqueDisciplinas = new Set();
        
                    disciplinas.forEach((disciplina, index) => {
                        if (!uniqueDisciplinas.has(disciplina)) {
                            uniqueDisciplinas.add(disciplina);
        
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.id = `disciplina${index}`;
                            checkbox.name = 'disciplinas';
                            checkbox.value = disciplina;
        
                            checkbox.checked = previouslyCheckedDisciplinas.includes(disciplina);
        
                            checkbox.addEventListener('change', updateDominios);
        
                            const label = document.createElement('label');
                            label.setAttribute('for', `disciplina${index}`);
                            label.textContent = disciplina;
        
                            disciplinasContainer.appendChild(checkbox);
                            disciplinasContainer.appendChild(label);
                            disciplinasContainer.appendChild(document.createElement('br'));
                        }
                    });
                })
                .catch(error => console.error('Error fetching disciplinas:', error));
        }
        
        function updateDominios() {
            const selectedDisciplinas = Array.from(document.querySelectorAll('input[name="disciplinas"]:checked'))
                .map(checkbox => checkbox.value);
        
            const previouslyCheckedDominios = Array.from(document.querySelectorAll('input[name="dominios"]:checked'))
                .map(checkbox => checkbox.value);
        
            if (selectedDisciplinas.length === 0) {
                document.getElementById('dominiosContainer').innerHTML = '';
                document.getElementById('subdominiosContainer').innerHTML = '';
                return;
            }
        
            fetch(`/fetch_dominios?disciplina=${selectedDisciplinas.join(',')}`)
                .then(response => response.json())
                .then(dominios => {
                    const dominiosContainer = document.getElementById('dominiosContainer');
                    const uniqueDominios = new Set();
        
                    dominios.forEach((dominio, index) => {
                        if (!uniqueDominios.has(dominio)) {
                            uniqueDominios.add(dominio);
        
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.id = `dominio${index}`;
                            checkbox.name = 'dominios';
                            checkbox.value = dominio;
        
                            checkbox.checked = previouslyCheckedDominios.includes(dominio);
        
                            checkbox.addEventListener('change', updateSubdominios);
        
                            const label = document.createElement('label');
                            label.setAttribute('for', `dominio${index}`);
                            label.textContent = dominio;
        
                            dominiosContainer.appendChild(checkbox);
                            dominiosContainer.appendChild(label);
                            dominiosContainer.appendChild(document.createElement('br'));
                        }
                    });
        
                    updateSubdominios();
                })
                .catch(error => console.error('Error fetching dominios:', error));
        }
        
        function updateSubdominios() {
            const selectedDominios = Array.from(document.querySelectorAll('input[name="dominios"]:checked'))
                .map(checkbox => checkbox.value);
        
            const previouslyCheckedSubdominios = Array.from(document.querySelectorAll('input[name="subdominios"]:checked'))
                .map(checkbox => checkbox.value);
        
            if (selectedDominios.length === 0) {
                document.getElementById('subdominiosContainer').innerHTML = '';
                document.getElementById('conceitosContainer').innerHTML = '';
                return;
            }
        
            fetch(`/fetch_subdominios?dominios=${selectedDominios.join(',')}`)
                .then(response => response.json())
                .then(subdominios => {
                    const subdominiosContainer = document.getElementById('subdominiosContainer');
                    const uniqueSubdominios = new Set();
        
                    subdominios.forEach((subdominio, index) => {
                        if (!uniqueSubdominios.has(subdominio)) {
                            uniqueSubdominios.add(subdominio);
        
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.id = `subdominio${index}`;
                            checkbox.name = 'subdominios';
                            checkbox.value = subdominio;
        
                            checkbox.checked = previouslyCheckedSubdominios.includes(subdominio);
        
                            checkbox.addEventListener('change', updateConceitos);
        
                            const label = document.createElement('label');
                            label.setAttribute('for', `subdominio${index}`);
                            label.textContent = subdominio;
        
                            subdominiosContainer.appendChild(checkbox);
                            subdominiosContainer.appendChild(label);
                            subdominiosContainer.appendChild(document.createElement('br'));
                        }
                    });
        
                    updateConceitos();
                })
                .catch(error => console.error('Error fetching subdominios:', error));
        }
        
        function updateConceitos() {
            const selectedSubdominios = Array.from(document.querySelectorAll('input[name="subdominios"]:checked'))
                .map(checkbox => checkbox.value);
        
            const previouslyCheckedConceitos = Array.from(document.querySelectorAll('input[name="conceitos"]:checked'))
                .map(checkbox => checkbox.value);
        
            if (selectedSubdominios.length === 0) {
                document.getElementById('conceitosContainer').innerHTML = '';
                return;
            }
        
            fetch(`/fetch_conceitos?subdominios=${selectedSubdominios.join(',')}`)
                .then(response => response.json())
                .then(conceitos => {
                    const conceitosContainer = document.getElementById('conceitosContainer');
                    const uniqueConceitos = new Set();
        
                    conceitos.forEach((conceito, index) => {
                        if (!uniqueConceitos.has(conceito)) {
                            uniqueConceitos.add(conceito);
        
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.id = `conceito_${conceito}`;
                            checkbox.name = 'conceitos';
                            checkbox.value = conceito;
        
                            checkbox.checked = previouslyCheckedConceitos.includes(conceito);
        
                            const label = document.createElement('label');
                            label.setAttribute('for', checkbox.id);
                            label.textContent = conceito;
        
                            conceitosContainer.appendChild(checkbox);
                            conceitosContainer.appendChild(label);
                            conceitosContainer.appendChild(document.createElement('br'));
                        }
                    });
                })
                .catch(error => console.error('Error fetching conceitos:', error));
        }
    </script>
    <script>
        function checkEnterKey(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default action (like form submission)
                addKeyword(); // Trigger the same function as the "Adicionar" button
            }
        }
    
        // Initialize the keywords array with selected tags from the backend
        let keywords = [{% for tag in selected_tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}]; 

        // Function to display existing keywords on page load
        function displayKeywords() {
            const keywordsContainer = document.getElementById('keywordsContainer');
            keywords.forEach(keyword => {
                const keywordSpan = document.createElement('span');
                keywordSpan.className = 'keyword';
                keywordSpan.textContent = keyword;

                const removeButton = document.createElement('button');
                removeButton.textContent = 'x'; // Button to remove the keyword
                removeButton.onclick = function() {
                    keywordSpan.remove(); // Remove the keyword span from DOM
                    keywords = keywords.filter(k => k !== keyword); // Remove from array
                    updateHiddenInput(); // Update hidden input field
                };

                keywordSpan.appendChild(removeButton);
                keywordsContainer.appendChild(keywordSpan);
            });
            updateHiddenInput(); // Update hidden input field with initial list of keywords
        }

        // Function to add a new keyword
        function addKeyword() {
            const keywordInput = document.getElementById('keywordInput');
            const keywordsContainer = document.getElementById('keywordsContainer');
            const keyword = keywordInput.value.trim();

            if (keyword === '' || keywords.includes(keyword)) {
                return; // Exit if no keyword entered or if it's a duplicate
            }

            keywords.push(keyword);
            keywordInput.value = ''; // Clear the input

            // Create the keyword span with remove button
            const keywordSpan = document.createElement('span');
            keywordSpan.className = 'keyword';
            keywordSpan.textContent = keyword;

            const removeButton = document.createElement('button');
            removeButton.textContent = 'x';
            removeButton.onclick = function() {
                keywordSpan.remove();
                keywords = keywords.filter(k => k !== keyword);
                updateHiddenInput();
            };

            keywordSpan.appendChild(removeButton);
            keywordsContainer.appendChild(keywordSpan);

            updateHiddenInput();
        }

        // Function to update the hidden input field with the list of keywords
        function updateHiddenInput() {
            const hiddenKeywordsInput = document.getElementById('keywords');
            hiddenKeywordsInput.value = keywords.join(',');
        }

        // Function to handle Enter key press
        function checkEnterKey(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                addKeyword();
            }
        }

        // Call displayKeywords on page load to show initial tags
        document.addEventListener("DOMContentLoaded", displayKeywords);
    </script>
</body>
</html>
