<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newapp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


    <title>Nova/Editar aplicação - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >

    <!-- Link to TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/agr3kxwxb5hnsedd9yd0re9bxz0346mtqq1xe1u6ethrlj9a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <style>
        .container2 {
            background-image: url('static/images/new-form-bg.jpg');
            background-size: cover; /* Adjust the background size */
            background-position: center; /* Center the background image */
            text-align: center; /* Center the text horizontally */
            padding: 40px 0; /* Add padding for better spacing */
            color: #fff; /* Change text color to white for better contrast */
        }
        .required h2 {
            display: flex;
            align-items: center;
        }
    
        .required h2::before {
            content: ' *';
            color: red;
            font-weight: bold;
            margin-right: 4px;
        }
        
    </style>
    <style>
        /* Modal background */
        #error-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
    
        /* Modal content */
        .modal-content {
            background-color: white;
            padding: 20px;
            margin: 15% auto;
            width: 80%;
            max-width: 500px;
            text-align: center;
            border-radius: 10px;
        }
    
        /* Modal message */
        #modal-message {
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
        }
    
        /* Close button */
        #close-modal {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }
    
        #close-modal:hover {
            background-color: #d32f2f;
        }
    </style>
    

    

    
</head>
<body>
    <div class="header-governo">
        <img src="static/images/logo.GOV-AZORES.2019.png" alt="Governo dos Açores">
        <span> Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a> </span>
    </div>
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </a>
            <!-- second div , above the header div with background image-->
            
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                    
                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    {% if admin and is_logged_in %}
                        <!-- Render admin-specific links or buttons -->
                        <li><a href="/myaccount">Minha Conta</a></li>

                        <li><a href="/dashboard" target="_blank">Administração</a></li>
                        <li><a href="/logout">Sair</a></li>
                    {% elif not admin and is_logged_in %}
                        <li><a href="/myaccount">Minha Conta</a></li>
                        <li><a href="/logout">Sair</a></li>
                        
                    {%else%}
                        <!-- Render non-admin links or buttons -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registar</a></li>

                    {% endif %}


                    
                </ul>
            </nav>
        </div>
    </header>
    <div class="container2">
        <h1>Novo aplicação</h1>
        <p>Detalhes</p>
    </div>
    <main>
        <div class="container">
            <form id="app-form" method="POST" enctype="multipart/form-data">
                <div class="input-group required">
                    <h2>Título:</h2>
                    <textarea id="titulo" name="titulo" rows="1" placeholder="Nome da aplicação"></textarea>
                    <div id="titulo-error" style="color: red; display: none;">O título deve ter no mínimo 5 caracteres.</div>
                </div>
                
                <div class="input-group required">
                    <h2>Descrição:</h2>
                    <textarea id="descricao" name="descricao" placeholder="Descreva esta aplicação sucintamente" maxlength="1500"></textarea>
                    <div id="counter"></div>
                    <small class="small-text">Deve ter no mínimo 20 caracteres e no máximo 1500</small>
                </div>
            
                <div class="input-group required">
                    <h2>Endereço</h2>
                    <input type="text" name="endereco" id="endereco-input" placeholder="Endereço de ligação">
                </div>
                
                <div class="input-group-system required">
                    <h2>Sistemas:</h2>
                    <input type="checkbox" id="sistema1" name="sistema" value="Opção 1">
                    <label for="sistema1">Android</label>
                    <input type="checkbox" id="sistema2" name="sistema" value="Opção 2">
                    <label for="sistema2">iOS</label>
                    <input type="checkbox" id="sistema3" name="sistema" value="Opção 3">
                    <label for="sistema3">Windows</label>
                </div>

                <div class="input-group-system required">
                    <h2>Temas:</h2>
                    {% for tema in temas %}
                    <input type="checkbox" id="tema{{ loop.index }}" name="tema">
                    <label for="tema{{ loop.index }}">{{ tema }}</label>
                    {% endfor %}
                </div>

                <div class="input-group-system required">
                    <h2>Categorias:</h2>
                    {% for categoria in categorias %}
                    <input type="checkbox" id="categoria{{ loop.index }}" name="categoria">
                    <label for="categoria{{ loop.index }}">{{ categoria }}</label>
                    {% endfor %}
                </div>
                
                <div class="input-group-fich">
                    <h2>Imagem de destaque:</h2>
                    <label class="file-label" for="ficheiro">
                        <input type="file" id="ficheiro" name="ficheiro" class="file-input" onchange="updateFileName()">
                        <span class="file-custom-text">Escolha um arquivo</span>
                        <span class="file-name">Nenhum arquivo selecionado</span>
                    </label>
                </div>
            
                <small class="small-text"><span class="text-danger">*</span> Campo obrigatório</small>
                
                <button type="submit">Criar aplicação</button>
                <button onclick="window.location.href='/'">Cancelar</button>
            </form>
            
        </div>
    </main>
    <!-- Error Modal -->
    <div id="error-modal" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); justify-content: center; align-items: center;">
        <div style="background: white; padding: 20px; margin: 15% auto; width: 80%; max-width: 500px; text-align: center;" class="modal-content" id="modal-content">
            <p id="modal-message"></p>
            <button id="close-modal">Fechar</button>
        </div>
    </div>
     <!-- Footer -->
     <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="/fichatecnica">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <a href="/faleconnosco">
                    <button>Fale connosco</button>
                </a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="additional-images">
                <img src="{{ url_for('static', filename='images/LogoDREAE-1.png') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='images/gov_acores_transparent.png') }}" alt="Image 2">
            </div>
            <span> © Direção Regional da Educação - Secretaria Regional da Educação,Cultura e Desporto </span>
        </div>
    </footer>

    <script>
        function updateFileName() {
            const fileInput = document.getElementById('ficheiro');
            const fileNameSpan = document.querySelector('.file-name');
            const file = fileInput.files[0];
        
            if (file) {
                fileNameSpan.textContent = file.name;
            } else {
                fileNameSpan.textContent = 'Nenhum arquivo selecionado';
            }
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Number of checkboxes and labels
            const numberOfCheckboxes = 15;
            const labels = ["Biologia", "Ciência", "Cultura Geral", "Educação", "Educação Ambiental","Física","Formação","Geologia","Gestão de Trabalho","Língua Portuguesa","Línguas","Literatura","Matemática","Notícias","Química"];
        
            for (let i = 0; i < numberOfCheckboxes; i++) {
                // Create checkbox element
                const checkbox = document.createElement("input");
                checkbox.setAttribute("type", "checkbox");
                checkbox.setAttribute("id", "tema" + (i + 1));
                checkbox.setAttribute("name", "tema");
                checkbox.setAttribute("value", "Opção " + (i + 1));
        
                // Create label element
                const label = document.createElement("label");
                label.setAttribute("for", "tema" + (i + 1));
                label.textContent = labels[i];
        
                // Append checkbox and label to container
                document.querySelector(".input-group-tema").appendChild(checkbox);
                document.querySelector(".input-group-tema").appendChild(label);
            }
        });

        const messageEle = document.getElementById('descricao');
        const counterEle = document.getElementById('counter');

        messageEle.addEventListener('input', function (e) {
            const target = e.target;

            // Get the `maxlength` attribute
            const maxLength = target.getAttribute('maxlength');

            // Count the current number of characters
            const currentLength = target.value.length;

            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });

        
        // Get the input element
        var input = document.getElementById("tags-input");

        // Get the tags container
        var tagsContainer = document.getElementById("tags-container");

        // Add event listener for keypress
        input.addEventListener("keypress", function(event) {
            // Check if the Enter key is pressed
            if (event.key === "Enter") {
                // Prevent the default action of the Enter key
                event.preventDefault();

                // Get the value of the input
                var tag = input.value.trim();

                // Clear the input
                input.value = "";

                // Create a span element for the tag
                var tagElement = document.createElement("span");
                tagElement.textContent = tag;
                tagElement.classList.add("tag");

                // Append the tag element to the container
                tagsContainer.appendChild(tagElement);
            }
        });

    </script>

    <script>
        document.getElementById('app-form').addEventListener('submit', function (event) {
            let errorMessage = '';
            let hasError = false;
        
            // Get the values of the input fields
            const titulo = document.getElementById('titulo').value.trim();
            const descricao = document.getElementById('descricao').value.trim();
            const endereco = document.getElementById('endereco-input').value.trim();
            
            // Check if at least one "Sistema" checkbox is selected
            const sistemas = document.getElementsByName('sistema');
            let sistemaSelected = false;
            for (let i = 0; i < sistemas.length; i++) {
                if (sistemas[i].checked) {
                    sistemaSelected = true;
                    break;
                }
            }

            const temas = document.getElementsByName('tema');
            let temaSelected = false;
            for (let i = 0; i < temas.length; i++) {
                if (temas[i].checked) {
                    temaSelected = true;
                    break;
                }
            }

            const categorias = document.getElementsByName('categoria');
            let categoriaSelected = false;
            for (let i = 0; i < categorias.length; i++) {
                if (categorias[i].checked) {
                    categoriaSelected = true;
                    break;
                }
            }
        
            // Validate the 'titulo' field
            if (titulo === '') {
                hasError = true;
                errorMessage += "O título é obrigatório.\n";
            }
        
            // Validate the 'descricao' field
            if (descricao === '') {
                hasError = true;
                errorMessage += "A descrição é obrigatória.\n";
            }
        
            // Validate the 'endereco' field
            if (endereco === '') {
                hasError = true;
                errorMessage += "O endereço é obrigatório.\n";
            }
            
            // Validate the 'sistema' field (at least one checkbox should be selected)
            if (!sistemaSelected) {
                hasError = true;
                errorMessage += "Pelo menos um sistema deve ser selecionado.\n";
            }

            // Validate the 'sistema' field (at least one checkbox should be selected)
            if (!temaSelected) {
                hasError = true;
                errorMessage += "Pelo menos um tema deve ser selecionado.\n";
            }
            // Validate the 'sistema' field (at least one checkbox should be selected)
            if (!categoriaSelected) {
                hasError = true;
                errorMessage += "Pelo menos uma categoria deve ser selecionada.\n";
            }

            
        
            // If there are any errors, show the modal with the error messages and prevent form submission
            if (hasError) {
                event.preventDefault();  // Prevent the form from being submitted
                showModal(errorMessage);  // Display the modal with the error messages
            }
        });
        
        // Function to display the modal with the error messages
        function showModal(message) {
            const modal = document.getElementById('error-modal');
            const modalMessage = document.getElementById('modal-message');
            modalMessage.textContent = message;  // Set the message in the modal
            modal.style.display = 'flex';  // Show the modal
        }
        
        // Close the modal when the close button is clicked
        document.getElementById('close-modal').addEventListener('click', function () {
            document.getElementById('error-modal').style.display = 'none'; // Hide the modal
        });
    
        // Prevent form submission and modal display when Cancel button is clicked
        document.querySelector('button[onclick="window.location.href=\'/\'"]').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the form submission
            window.location.href = '/'; // Redirect the user to the homepage
        });
    </script>
    
</body>
</html>
