<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recoverpassword.css') }}">
</head>
<body>
    <div class="recover-password-container">
        <a href="/"> <!-- Link to the home page -->
            <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="Platform Logo">
        </a>
        <h1>Recuperar password</h1>
        <form method="POST" action="/recoverpassword"> <!-- Form to submit email -->
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Enviar email de recuperação</button>
            <a href="/login" class="login-link">Voltar ao Login</a>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>